
<ng-container>
  <table class="table table-sticky">
<thead>
<tr><i class="material-icons  icon-pointer" style="color: #6c19ff;" (click)="onBackToList()">arrow_back</i></tr>

<tr>
  <th>studentName</th>
  <th>Amount</th>
  <th>PaymentDate</th>
  <th>Formation</th>
  <th>reciever</th>
  <th scope="col">
    <i class="material-icons align-middle icon-pointer" style="font-size: 20px" container="body" ngbTooltip="Add student" (click)="onAddPaymentClick()">add_box</i>
  </th>
</tr>
</thead>
    <tbody>

    <!-- row for adding payment -->
    <ng-container *ngIf="isAddingPayment">
   <tr>
     <td>{{studentpass?.name}} {{studentpass?.famillyName}}</td>
        <td>    <input type="text"  class="form-control" [formControl]="amountFormControl">
          <div *ngIf="amountFormControl.invalid && (amountFormControl.dirty || amountFormControl.touched)"
               class="text-danger"><small>{{getErrorMessage(amountFormControl)}}</small></div>
        </td>
        <td>    <input type="date"  class="form-control" [formControl]="paymentDateFormControl">
          <div *ngIf="paymentDateFormControl.invalid && (paymentDateFormControl.dirty || paymentDateFormControl.touched)"
               class="text-danger"><small>{{getErrorMessage(paymentDateFormControl)}}</small></div>
        </td>
        <td>    <input type="text"  class="form-control" [formControl]="formationFormControll">
          <div *ngIf="formationFormControll.invalid && (formationFormControll.dirty || formationFormControll.touched)"
               class="text-danger"><small>{{getErrorMessage(formationFormControll)}}</small></div>
        </td>
        <td>    <input type="text"  class="form-control" [formControl]="reciveFormControl">
          <div *ngIf="reciveFormControl.invalid && (reciveFormControl.dirty || reciveFormControl.touched)"
               class="text-danger"><small>{{getErrorMessage(reciveFormControl)}}</small></div>
        </td>
        <td>
      <span [ngClass]="{'disabled': isAddingPayment}">
        <i class="material-icons align-middle  icon-pointer" style="margin: 0 5px;"  placement="bottom" container="body"  ngbTooltip="Save" (click)="ondonePaymentlick()" >done</i>

          	<i class="material-icons align-middle icon-pointer" style="margin: 0 5px;" placement="bottom" container="body" ngbTooltip="Cancell"(click)="onCancelAddClick()">close</i>
		    </span>

        </td>
      </tr>
    </ng-container>
    <!-- payment list row -->

<ng-container *ngFor="let paymentList of paymentlist">
  <tr>
    <td>{{studentpass?.name}} {{studentpass?.famillyName}}</td>
    <td>{{paymentList.Amount}}</td>
    <td>{{paymentList.Date}}</td>

    <td>{{paymentList.Detail}}</td>
    <td>{{paymentList.receiver}}</td>
  </tr>

</ng-container>
    </tbody>
  </table>
</ng-container>
