<!--
<div class="container mydiv">
  <div class="row">
    <div class="col-md-4" *ngFor=" let formation of formation">
      --><!-- bbb_deals --><!--
      <div class="bbb_deals">
        <div class="ribbon ribbon-top-right"><span><small class="cross">x </small>4</span></div>
        <div class="bbb_deals_title"></div> <span> {{formation.nom_formation}}</span>

        <div class="bbb_deals_slider_container">
          <div class=" bbb_deals_item">
            <div class="bbb_deals_image"><img src="{{formation.imgsrc}}" alt=""></div>
            <div class="bbb_deals_content">

              <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                <div class="bbb_deals_item_name">{{formation.nom_formation}}</div>
                <div class="bbb_deals_item_price ml-auto">{{formation.prix}}</div>
              </div>
              <div class="bbb_deals_info_line d-flex flex-row justify-content-start">
                <div class="bbb_deals_item_name">{{formation.detail}}</div>

              </div>
              <div class="available">
                <div class="available_line d-flex flex-row justify-content-start">
                  <div class="available_title">Available: <span>6</span></div>
                  <div class="sold_stars ml-auto"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                </div>
                <div class="available_bar"><span style="width:17%"></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
-->

<app-navbar></app-navbar>


<section class="about section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-12">
        <div class="about-img"><img alt="" class="img-fluid" src="../assets/images/3dlogo.png"></div>
      </div>
      <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
        <div class="about-text">
          <h2>We Provide the Best Quality<br>
            Services Ever</h2>
          <p class="intro-p">Pour offrir une formation de la plus haute qualité à nos participants, en leur fournissant
            les compétences et les connaissances nécessaires pour réussir sur le marché et gravir les échelons du succès.
            Nous nous engageons à leur fournir des opportunités précieuses pour
            s'engager sur le marché, leur permettant d'exceller et d'atteindre leurs objectifs professionnels.</p><a class="btn btn-warning" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- about section Ends -->
<section class="services section-padding" id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Nos Services</h2>
          <p class="service-p">Lorem ipsum dolor sit amet, consectetur<br>
            adipisicing elit. Non, quo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="material-icons" container="body">engineering</i>
            <h3 class="card-title">Formation CAO/FAO
            </h3>
            <p class="lead">We offer training in multiple software applications.
            </p><button class="btn bg-warning text-dark">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="material-icons" container="body">view_in_ar</i>
            <h3 class="card-title">Impression 3D
            </h3>
            <p class="lead">We offer training and production services using 3D printers in collaboration with our partner.</p><button class="btn bg-warning text-dark">Read More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <i class="material-icons" container="body">3d_rotation</i>
            <h3 class="card-title">Application interactive</h3>
            <p class="lead">We provide interactive 3D and VR experiences.
            </p><button class="btn bg-warning text-dark">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="portfolio section-padding" id="portfolio">
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="section-header text-center pb-5">
      <h2>Nos Formations</h2>
      <p class="formation-p">Lorem ipsum dolor sit amet, consectetur<br>
        adipisicing elit. Non, quo.</p>
    </div>
  </div>

  <div class="col-12 col-md-12 col-lg-4" *ngFor=" let formation of formation">
    <div class=" card text-light text-center bg-white pb-2 mb-2">


      <div class="card-body  text-dark">


        <div class="img-area mb-4"><img alt="" class="img-fluid" [src]="formation.imgsrc"></div>
        <h3 class="card-title">{{formation.nom_formation}}</h3>
        <div *ngIf="formation.detail "> <p class="lead" [innerHTML]="formation.detail | newLineToBreak"></p></div>

          <button class="btn bg-warning text-dark mr-2" (click)="inscription(formation.nom_formation,formation.id)">Inscrire</button>

          <button class="btn bg-warning text-dark "(click)="learnMore(formation.nom_formation,formation.id)">Learn More</button>





      </div>
    </div>
  </div>
</div>
</div>
</section>

<!-- footer starts -->
<section class="about section-padding">
<app-footer></app-footer>
</section>
<!-- footer ends -->
